/* General Page Styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f6fa;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Back Button */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button a {
    text-decoration: none;
    font-size: 24px;
    color: #333;
}

/* Centered Card */
section {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
}

h1 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

/* Open Packs Button */
.open-button {
    background-color: #7fc85c;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.open-button a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.open-button:hover {
    background-color: #144E3F;
    transition: 0.3s ease;
}


.pack-image{
    border-radius: 5px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 1));
    margin-block: 2vh;
}

/* Info Icon */
.info-icon {
    position: absolute;
    top: 20px;
    right: 20px;  /* Positions in the top-right */
}

.info-icon button {
    width: 30px;
    height: 30px;
    border: 3px solid #1d1c1c; /* Circular border */
    border-radius: 60%; /* Makes it a circle */
    background-color: transparent;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-icon-i{
    font-size: larger;
    font-weight: 650;
    
}

.info-icon button:hover {
    background-color: #27932A; /* Light gray on hover */
}

.tooltip {
    display: none;  /* Hide initially */
    position: absolute;
    top: 40px; /* Position below the button */
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}

/* Show tooltip on hover */
.info-icon:hover .tooltip {
    display: block;
}

@media screen and (max-width: 480px) {
    .tooltip {
        font-size: 10px;
    }

    .info-icon {
        right: 5px;
    }
}