<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load profile_extras %}
        <title>Ecomon Profile</title>
        <link rel="stylesheet" href="{% static 'css/backend/profile/changeDeck.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    </head>
<body>

    <!-- Back Button -->
    <div class="backButton">
        <a class="back-button" href="{{ previous_page }}">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>

    <!-- Current Deck Container -->
    <div class = "Deck">
        <div class = "deckTitle">
            <p>Currently Selected Deck</p>
        </div>
        <!-- Container that has deck cards -->
        <div class = "My Deck">
            <table>
                    <tr>
                        <td>
                            
    
                            {% if deck_card_1 %}
                                <img src="{% static 'images/cards/'|add:deck_card_1.name|replace_space|add:'.png' %}" alt="{{ deck_card_1.name }}">
                            {% else %}
                                <img src="{% static 'images/profile/PlasticBlankBorder.png' %}" alt="Deck Card 1">
                            {% endif %}
                        </td>
                        <td>
                            {% if deck_card_2 %}
                                <img src="{% static 'images/cards/'|add:deck_card_2.name|replace_space|add:'.png' %}" alt="{{ deck_card_2.name }}">
                            {% else %}
                                <img src="{% static 'images/profile/PlasticBlankBorder.png' %}" alt="Deck Card 2">
                            {% endif %}
                        </td>
                        <td>
                            {% if deck_card_3 %}
                                <img src="{% static 'images/cards/'|add:deck_card_3.name|replace_space|add:'.png' %}" alt="{{ deck_card_3.name }}">
                            {% else %}
                                <img src="{% static 'images/profile/PlasticBlankBorder.png' %}" alt="Deck Card 3">
                            {% endif %}
                        </td>
                        
                    </tr>
            </table>
        </div>
    </div>

    <!-- Cards Collection Container -->
    <div class="cards-selection">
        <h2>Your Cards</h2>
        <form method="POST" action="{% url 'update_deck' %}">
            {% csrf_token %}
            <div class="cardTable">
                <table>
                    <tr>
                    {% for player_card in player_cards %}
                        {% if not player_card.in_gym %}
                            <td>
                                <label class="card-select">
                                    <input type="checkbox" name="selected_cards" value="{{ player_card.card.name }}" 
                                        onclick="limitSelections(this)" 
                                        {% if player_card.card.name in deck_cards %}checked{% endif %}>
                                    <img src="{% static 'images/cards/'|add:player_card.card.name|replace_space|add:'.png' %}" 
                                        alt="{{ player_card.card.name }}">
                                </label>
                            </td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </table>
            </div>
            <!-- Button to Update Deck -->
            <button type="submit" onclick=" return lessThanThree()">Update Deck</button>
        </form>
    </div>
    
    <!-- Script to limit the amount of cards a player can select to 3 -->
    <script>
    // Limit the amount of cards a player can select to 3
    function limitSelections(checkbox) {
        const maxAllowed = 3;
        let checkboxes = document.getElementsByName('selected_cards');
        let checked = document.querySelectorAll('input[name="selected_cards"]:checked');
    
        if (checked.length > maxAllowed) {
            checkbox.checked = false;
        }
    }

    // Check if the player has selected 3 cards
    function lessThanThree() {
    let checked = document.querySelectorAll('input[name="selected_cards"]:checked');
    if (checked.length < 3) {
        alert("You must select 3 cards to update your deck.");
        return false;
    }
    return true;
    }
    </script>
</body>
</html>
