<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load profile_extras %}
        <title>Ecomon Profile</title>
        <!-- Added Viewport Meta Tag for Responsiveness -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Links to CSS and Javascript Files -->
        <link rel="stylesheet" href="{% static 'css/backend/profile/profilestyle.css' %}">
        <link rel="stylesheet" href="{% static 'css/backend/profile/popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/backend/profile/profile-mobilestyle.css' %}" media="screen and (max-width: 768px)">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script src="{% static 'js/backend/profile/profile.js' %}"></script>
        <script src="{% static 'js/backend/profile/edit_profile.js' %}"></script>

    </head>


<!-- Header for Ecomon Logo Logo -->
<header>
    <div class="logo">
        <img src="{% static 'images/backend/profile/Ecomon1-removebg.png' %}" alt="Ecomon Logo">
    </div>  
</header>

<body>
    <!-- Popup container -->
     <div class="popup-container hidden" id="popup-container">
        <!-- Popup for editing username -->
        <div class="popup-edituser hidden" id="popup-edituser">
            <div class="popup-content-container">
                <div class="popup-header">
                    <h2>Edit Username</h2>
                    <span class="close" onclick="closePopup()">&times;</span>
                </div>
                <div class="popup-body">
                    <form id="edit-username-form" class="flex-center-form">
                        {% csrf_token %}
                        <label for="new-username">New Username:</label>
                        <input type="text" id="new-username" name="new_username" required>
                        <div id="username-feedback" class="form-feedback"></div>
                        <button class="submit-button" type="submit" value="Submit">Save</button>
                    </form>
                    
                </div>
            </div>
        </div>

        <!-- Email Popup -->
        <div class="popup-edituser hidden" id="popup-editemail">
            <div class="popup-content-container">
                <div class="popup-header">
                    <h2>Edit Email</h2>
                    <span class="close" onclick="closePopup(this)">&times;</span>
                </div>
                <div class="popup-body">
                    <form id="edit-email-form" class="flex-center-form">
                        {% csrf_token %}
                        <label for="new-email">New Email:</label>
                        <input type="email" id="new-email" name="new_email" required>
                        <div id="email-feedback" class="form-feedback"></div>
                        <button class="submit-button" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Password Popup -->
        <div class="popup-edituser hidden" id="popup-editpassword">
            <div class="popup-content-container">
                <div class="popup-header">
                    <h2>Edit Password</h2>
                    <span class="close" onclick="closePopup(this)">&times;</span>
                </div>
                <div class="popup-body">
                    <form id="edit-password-form" class="flex-center-form">
                        {% csrf_token %}
                        <label for="old-password">Old Password:</label>
                        <input type="password" id="old-password" name="old_password" required>
                        
                        <label for="new-password">New Password:</label>
                        <input type="password" id="new-password" name="new_password" required>
                        
                        <label for="confirm-new-password">Confirm New Password:</label>
                        <input type="password" id="confirm-new-password" name="confirm_new_password" required>
                        
                        <div id="password-feedback" class="form-feedback"></div>
                        <button class="submit-button" type="submit">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Delete Account popup -->
        <div class="popup-edituser" id="popup-deleteaccount">
            <div class="popup-content-container">
                <div class="popup-header">
                    <h2>Delete Account</h2>
                    <span class="close" onclick="closePopup(this)">&times;</span>
                </div>
                <div class="popup-body" style="flex-direction: column; align-items: center;">
                    <p>Are you sure you want to delete your account? This action cannot be undone.</p>
                    <div id="delete-feedback" class="form-feedback"></div>
                    <div style="display: flex; gap: 10px; margin-top: 20px;">
                        <button class="submit-button" onclick="closePopup(this)">Cancel</button>
                        <button class="submit-button" id="confirm-delete-button">Delete Account</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    
    <!-- Navigation buttons -->
    <div class = "Buttons">
        <!-- Back button -->
        <div class="backButton">
            <a href="/home">
                <i id="backButton" class="fas fa-arrow-left"></i>
            </a>
        </div>
        <!-- Logout button -->
        <div class="logoutButton">
            <a href="{% url 'logout' %}">
                <button type="button">
                    <img src="{% static 'images/backend/profile/logout.png' %}" alt="Logout Button">
                </button>
            </a>
        </div>
    </div>

    <!-- Div for Profile Details, Bin and Team -->
    <div class="profile-container">
        <!-- Profile Picture (Team) -->
        <div class="profilepic">
            {% if team_logo %}
                <img src="{{ team_logo.url }}" alt="{{ user.profile.team.name }} Logo">
            {% else %}
                <img src="{% static 'images/backend/profile/Reduce.png' %}" alt="Default Logo">
            {% endif %}
        </div>

        <!-- Profile Details -->
        <div class="details">

            <p>Username: {{ user.username }} <i class="fas fa-pencil edit-button" onclick="popupEditUsername()"></i></p>
            
            <p>Email: {{ user.email }} <i class="fas fa-pencil edit-button" onclick="popupEditEmail()"></i></p>
            <p>Team: {{ user.profile.team_name.name}}</p>
            <p>
                <div class = 'powers'>
                    {% if "Reduce" in user.profile.team_name|stringformat:"s"%}
                        <p>Team Power: Take 5 less damage a turn</p>
                    {% elif "Recycle" in user.profile.team_name|stringformat:"s"%}
                        <p>Team Power: Recycle Cards have boosted stats</p>
                    {% elif "Reuse" in user.profile.team_name|stringformat:"s"%}
                        <p>Team Power: Cards have a higher use count</p>
                    {% endif %}
                </div>
            </p>
        </div>

        <!-- Bin Div -->
        <div class="bin">
            <div class="binimage">
                <div class="bin-container">
                    <img class="bin-open" src="{% static 'images/backend/profile/binplaceholder.png' %}" alt="Bin Image">
                    <img class="bin-closed" src="{% static 'images/backend/profile/binclosed.png' %}" alt="Bin Closed">
                </div>
            </div>
            <div class="binText">
                <p>Wrappers: {{ user.profile.wrapper_count }}/3</p>
            </div>
        </div>
    </div>

    <!-- Deck -->
    <div class = "Deck">
        <div class = "deckTitle">
            <p>Deck</p>
        </div>
        <!-- Current Deck -->
        <div class = "My Deck">
            <table>
                    <tr>
                        <td>
                            {% if deck_card_1 %}
                                <img src="{{ deck_card_1.image.url }}" alt="{{ deck_card_1.name }}">
                            {% else %}
                                <img src="{% static 'images/backend/profile/PlasticBlankBorder.png' %}" alt="Deck Card 1">
                            {% endif %}
                        </td>
                        <td>
                            {% if deck_card_2 %}
                                <img src="{{ deck_card_2.image.url }}" alt="{{ deck_card_2.name }}">
                            {% else %}
                                <img src="{% static 'images/backend/profile/PlasticBlankBorder.png' %}" alt="Deck Card 2">
                            {% endif %}
                        </td>
                        <td>
                            {% if deck_card_3 %}
                                <img src="{{ deck_card_3.image.url }}" alt="{{ deck_card_3.name }}">
                            {% else %}
                                <img src="{% static 'images/backend/profile/PlasticBlankBorder.png' %}" alt="Deck Card 3">
                            {% endif %}
                        </td>
                        
                    </tr>
            </table>
        </div>
        <!-- Button For Changing Deck -->
        <a class="change-deck-text" href="{% url 'change_deck' %}">
            <div class = "DeckButton">
                <button type="button">Change Deck</button>
            </div>
        </a>
    </div>

    <!-- Obtained Cards -->
    <div class="content-container">
        <div class="cards-section">
            <div class="cardTitle">
                <p>Obtained Cards</p>
            </div>

            <div class="cardTable">
                    <table>
                        <tr>
                        {% for card in cards %}
                            <td>
                                <!-- For each player card in database, if it belongs to the player, display it -->
                                {% with player_card=player_cards|findcard:card.name %}
                                    {% if player_card %}
                                        <img src="{{ card.image.url }}" alt="{{ card.name }}" data-card-type="{{ card.card_type }}">
                                    {% else %}
                                        <!-- Otherwise Display blank card border -->
                                        {% if card.card_type == 1 %}
                                            <img src="{% static 'images/backend/profile/PlasticBlankBorder.png' %}" alt="Plastic Border">
                                        {% elif card.card_type == 2 %}
                                            <img src="{% static 'images/backend/profile/RecycleBlankBorder.png' %}" alt="Recycle Border">
                                        {% elif card.card_type == 3 %}
                                            <img src="{% static 'images/backend/profile/PlantBlankBorder.png' %}" alt="Plant Border">
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                            </td>
                            {% if forloop.counter|divisibleby:3 %}
                                </tr><tr>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </table>
                </div>
    
                <!-- Achievements -->
                <div class="achievements-section">
                    <div class="AchievementTitle">
                        <p>Achievements</p>
                    </div>
                    <div class="AchievmentsTable">
                        <table>
                            <!-- Battles Won Achievements -->
                            <tr>
                                <td colspan="3" class="achievement-total">Battles Won Total: {{ user.profile.battles_won }}</td>
                            </tr>
                            <tr class="medal-row">
                                <td>
                                    {% if user.profile.battles_won < 10 %}
                                        <img src="{% static 'images/backend/profile/blankmedal.png' %}" alt="Blank medal">
                                    {% elif user.profile.battles_won >= 10 %}
                                        <img src="{% static 'images/backend/profile/bronzemedal.png' %}" alt="Bronze Medal">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.profile.battles_won < 50 %}
                                        <img src="{% static 'images/backend/profile/blankmedal.png' %}" alt="Blank medal">
                                    {% else %}
                                        <img src="{% static 'images/backend/profile/goldmedal.png' %}" alt="Gold Medal">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.profile.battles_won < 25 %}
                                        <img src="{% static 'images/backend/profile/blankmedal.png' %}" alt="Blank medal">
                                    {% else %}
                                        <img src="{% static 'images/backend/profile/silvermedal.png' %}" alt="Silver Medal">
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="medal-labels">
                                <td>Bronze</td>
                                <td>Gold</td>
                                <td>Silver</td>
                            </tr>
            
                            <!-- Bins Emptied Achievements -->
                            <tr>
                                <td colspan="3" class="achievement-total">Bins Emptied Total: {{ user.profile.bins_emptied }}</td>
                            </tr>
                            <tr class="medal-row">
                                <td>
                                    {% if user.profile.bins_emptied < 10 %}
                                        <img src="{% static 'images/backend/profile/blankmedal.png' %}" alt="Blank medal">
                                    {% elif user.profile.bins_emptied >= 10 %}
                                        <img src="{% static 'images/backend/profile/bronzemedal.png' %}" alt="Bronze Medal">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.profile.bins_emptied < 50 %}
                                        <img src="{% static 'images/backend/profile/blankmedal.png' %}" alt="Blank medal">
                                    {% else %}
                                        <img src="{% static 'images/backend/profile/goldmedal.png' %}" alt="Gold Medal">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.profile.bins_emptied < 25 %}
                                        <img src="{% static 'images/backend/profile/blankmedal.png' %}" alt="Blank medal">
                                    {% else %}
                                        <img src="{% static 'images/backend/profile/silvermedal.png' %}" alt="Silver Medal">
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="medal-labels">
                                <td>Bronze</td>
                                <td>Gold</td>
                                <td>Silver</td>
                            </tr>
            
                            <!-- Packs Opened Achievements -->
                            <tr>
                                <td colspan="3" class="achievement-total">Packs Opened Total: {{ user.profile.packs_opened }}</td>
                            </tr>
                            <tr class="medal-row">
                                <td>
                                    {% if user.profile.packs_opened < 10 %}
                                        <img src="{% static 'images/backend/profile/blankmedal.png' %}" alt="Blank medal">
                                    {% elif user.profile.packs_opened >= 10 %}
                                        <img src="{% static 'images/backend/profile/bronzemedal.png' %}" alt="Bronze Medal">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.profile.packs_opened < 50 %}
                                        <img src="{% static 'images/backend/profile/blankmedal.png' %}" alt="Blank medal">
                                    {% else %}
                                        <img src="{% static 'images/backend/profile/goldmedal.png' %}" alt="Gold Medal">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if user.profile.packs_opened < 25 %}
                                        <img src="{% static 'images/backend/profile/blankmedal.png' %}" alt="Blank medal">
                                    {% else %}
                                        <img src="{% static 'images/backend/profile/silvermedal.png' %}" alt="Silver Medal">
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="medal-labels">
                                <td>Bronze</td>
                                <td>Gold</td>
                                <td>Silver</td>
                            </tr>
                        </table>
                    </div>
                </div>
        <div class="Buttons" style="margin-top: 5vh;">
            <button class="alteration-button" onclick="popupEditPassword()">Reset Password</button>
            <button class="alteration-button" style="background-color: red;" onclick="popupDeleteAccount()">Delete Account</button>
        </div>
        
    </div>
</body>
</html>