<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load profile_extras %}
        <title>Ecomon Profile</title>
        <link rel="stylesheet" href="{% static 'css/backend/profile/profilestyle.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    </head>
<header>
    <div class="logo">
        <img src="{% static 'images/backend/profile/Ecomon1-removebg.png' %}" alt="Ecomon Logo">
    </div>  
</header>

<body>
    
    <div class = "Buttons">
        <div class="backButton">
            <a href="/home">
                <i id="backButton" class="fas fa-arrow-left"></i>
            </a>
        </div>
        <div class="logoutButton">
            <a href="{% url 'logout' %}">
                <button type="button">
                    <img src="{% static 'images/backend/profile/logout.png' %}" alt="Logout Button">
                </button>
            </a>
        </div>
    </div>

    <div class="profile-container">
        <div class="profilepic">
            {% if team_logo %}
                <img src="{{ team_logo.url }}" alt="{{ user.profile.team.name }} Logo">
            {% else %}
                <img src="{% static 'images/backend/profile/Reduce.png' %}" alt="Default Logo">
            {% endif %}
        </div>

        <div class="details">
            <p>
                Username: {{ user.username }}
                <br><br>
                Email: {{ user.email }}
                <br><br>
                Team: {{ user.profile.team_name.name}}
            </p>
        </div>

        <div class="bin">
            <div class="binimage">
                <img src="{% static 'images/backend/profile/binplaceholder.png' %}" alt="Bin Image">
            </div>
            <div class="binText">
                <p>Wrappers: {{ user.profile.wrapper_count }}/3</p>
            </div>
        </div>
    </div>

    <div class = "Deck">
        <div class = "deckTitle">
            <p>Deck</p>
        </div>
        <div class = "My Deck">
            <table>
                    <tr>
                        <td>
                            

                            {% if deck_card_1 %}
                                <img src="{% static 'images/cards/'|add:deck_card_1.name|replace_space|add:'.png' %}" alt="{{ deck_card_1.name }}">
                            {% else %}
                                <img src="{% static 'images/backend/profile/PlasticBlankBorder.png' %}" alt="Deck Card 1">
                            {% endif %}
                        </td>
                        <td>
                            {% if deck_card_2 %}
                                <img src="{% static 'images/cards/'|add:deck_card_2.name|replace_space|add:'.png' %}" alt="{{ deck_card_2.name }}">
                            {% else %}
                                <img src="{% static 'images/backend/profile/PlasticBlankBorder.png' %}" alt="Deck Card 2">
                            {% endif %}
                        </td>
                        <td>
                            {% if deck_card_3 %}
                                <img src="{% static 'images/cards/'|add:deck_card_3.name|replace_space|add:'.png' %}" alt="{{ deck_card_3.name }}">
                            {% else %}
                                <img src="{% static 'images/backend/profile/PlasticBlankBorder.png' %}" alt="Deck Card 3">
                            {% endif %}
                        </td>
                        
                    </tr>
            </table>
        </div>
        <a class="change-deck-text" href="{% url 'change_deck' %}">
            <div class = "DeckButton">
                <button type="button">Change Deck</button>
            </div>
        </a>
    </div>
    <div class="content-container">
        <div class="cards-section">
            <div class="cardTitle">
                <p>Obtained Cards</p>
            </div>
            <div class="cardTable">
                <table>
                    <tr>
                    {% for card in cards %}
                        <td>
                            {% with player_card=player_cards|findcard:card.name %}
                                {% if player_card %}
                                    <img src="{% static 'images/cards/'|add:card.name|replace_space|add:'.png' %}" alt="{{ card.name }}">
                                {% else %}
                                    {% if card.card_type == 1 %}
                                        <img src="{% static 'images/backend/profile/PlasticBlankBorder.png' %}" alt="Plastic Border">
                                    {% elif card.card_type == 2 %}
                                        <img src="{% static 'images/backend/profile/RecycleBlankBorder.png' %}" alt="Recycle Border">
                                    {% elif card.card_type == 3 %}
                                        <img src="{% static 'images/backend/profile/PlantBlankBorder.png' %}" alt="Plant Border">
                                    {% endif %}
                                {% endif %}
                            {% endwith %}
                        </td>
                        {% if forloop.counter|divisibleby:3 %}
                            </tr><tr>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </table>
            
        </div>
    

        <div class="achievements-section">
            <div class="AchievementTitle">
                <p>Achievements</p>
            </div>
            <div class="AchievmentsTable">
                <table>
                    <tr>
                        <td><img src="{% static 'images/backend/profile/silvermedal.jpg' %}" alt="Silver Medal"></td>
                        <td><img src="{% static 'images/backend/profile/goldmedal.jpg' %}" alt="Gold Medal"></td>
                        <td><img src="{% static 'images/backend/profile/bronzemedal.jpg' %}" alt="Bronze Medal"></td>
                    </tr>
                    <tr>
                        <td>Silver Medal Example</td>
                        <td>Gold Medal Example</td>
                        <td>Bronze Medal Example</td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'images/backend/profile/silvermedal.jpg' %}" alt="Silver Medal"></td>
                        <td><img src="{% static 'images/backend/profile/goldmedal.jpg' %}" alt="Gold Medal"></td>
                        <td><img src="{% static 'images/backend/profile/bronzemedal.jpg' %}" alt="Bronze Medal"></td>
                    </tr>
                    <tr>
                        <td>Silver Medal Example</td>
                        <td>Gold Medal Example</td>
                        <td>Bronze Medal Example</td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'images/backend/profile/silvermedal.jpg' %}" alt="Silver Medal"></td>
                        <td><img src="{% static 'images/backend/profile/goldmedal.jpg' %}" alt="Gold Medal"></td>
                        <td><img src="{% static 'images/backend/profile/bronzemedal.jpg' %}" alt="Bronze Medal"></td>
                    </tr>
                    <tr>
                        <td>Silver Medal Example</td>
                        <td>Gold Medal Example</td>
                        <td>Bronze Medal Example</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
