body {
    height: 100vh;
    background-color: #222;
    margin: 0;
    font-family: Arial, sans-serif;
}

.pack-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.card {
    width: 150px;
    height: 220px;
    border-radius: 10px;
    background-color: #444;
    position: relative;
    overflow: hidden;
    transition: transform 0.8s ease-in-out;
}

.card-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    transition: opacity 0.5s ease-in-out;
}

.left-card .card-cover {
    animation: fadeout 0.5s ease-in-out 3s forwards;
}

.center-card .card-cover {
    animation: fadeout 0.5s ease-in-out 1s forwards;
}

.right-card .card-cover {
    animation: fadeout 0.5s ease-in-out 3s forwards;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #7fc85c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}


/* Back Button */
.back-button {
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 20px;
}

.back-button a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}