body {
    font-family: Arial, sans-serif;
    background-color: #f7f5fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
    position: relative;
    margin-top: 220px;
}

.logo {
    width: 400px;
    margin-bottom: 20px;
}

.title {
    color:#144E3F;
}

.scan-button {
    display: inline-block;
    padding: 10px 15px;
    font: 16px Arial, sans-serif;
    background-color: #84C44C;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    border: none;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.scan-button:hover {
    background-color: #144E3F;
}

.upload-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #84C44C;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.upload-button:hover {
    background-color: #144E3F;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.teams-information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team .image-container{
    height: 140px;
    display: flex;
    align-items: center;
}

.teams-information img {
    width: 120px;
    height: 120px;
    transition: scale 0.3s ease;
}

.teams-information .reuse-icon{
    width: 140px;
    height: 140px;
}

.teams-information img:hover {
    scale: 1.1;
}

.team p {
    color: #144E3F;
    font-size: 22px;
    font-weight: bold;
}

.teams-information .team-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style for the back button container */
.back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;   /* Ensure it's above other elements */
}

/* Style for the back icon */
.back-button a {
    background-color: #84C44C;
    color: white;     
    padding: 10px 15px;    
    border-radius: 5px;  
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    font-weight: bold;
}

/* Hover effect for the back icon */
.back-button a:hover {
    background-color: #144E3F;
    cursor: pointer;
}

/* #reader {
    width: 100%;
    max-width: 400px;
    margin: auto;
} */

/* Responsive Design */
@media screen and (max-width: 1024px) {
    .container {
        justify-content: flex-start;
        align-items: center;
    }

    .scanner-container {
        width: 100%;
    }

    video {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        justify-content: flex-start;
        align-items: center;
    }

    .title h1 {
        font-size: 1.5rem;
    }

    video {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .teams-information {
        flex-direction: row;
        margin-top: 10px;
        gap: 20px;
    }


    .team {
        width: 90%;
    }

    .team img {
        width: 90px;
        height: 90px;
    }

    .team img.reuse-icon {
        width: 110px;
        height: 110px;
    }

    .team p {
        font-size: 18px;
        margin-top: 5px;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        width: 350px;
    }

    .container {
        justify-content: flex-start;
        align-items: center;
    }

    .title h1 {
        font-size: 1.2rem;
    }

    .scanner-container {
        width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    video {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .teams-information {
        flex-direction: row;
        margin-top: 10px;
        gap: 20px;
    }

    .team .image-container {
        height: 100px;
    }

    .team {
        width: 90%;
    }

    .team img {
        width: 70px;
        height: 70px;
    }

    .team img.reuse-icon {
        width: 90px;
        height: 90px;
    }

    .team p {
        font-size: 16px;
        margin-top: 0px;
    }

    .scan-button, .upload-button {
        font: 14px Arial, sans-serif;
        font-weight: bold;
    }
}