<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOMON Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/accounts/sign-up.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'images/accounts/Ecomon1-removebg.png' %}" alt="ECOMON Logo" class="logo">

        <div class="signup-box">
            <h2>Login</h2>

            <form method="post">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit" class="submit">Login</button>
                

                <p>Don't have an account? 
                    <a class="login-link" href="{% url 'register-page' %}">Sign up</a>
                </p>
            </form>
            <!-- Display error messages -->
            {% if messages %}
                {% for message in messages %}
                    <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>
