<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOMON Signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/accounts/sign-up.css' %}">
</head>
<body>

    <div class="container">
        <img src="{% static 'images/accounts/Ecomon1-removebg.png' %}" alt="ECOMON Logo" class="logo">
        
        <div class="signup-box">
            <h2>Sign Up</h2>
            <form method="post">
                {% csrf_token %}            
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email address" required>
                <input type="password" name="password1" placeholder="Password" required>
                <input type="password" name="password2" placeholder="Confirm Password" required>
                
                <!-- Team Selection -->
                <select name="team" required>
                    <option value="" disabled selected>Select your team</option>
                    {% for team in teams %}
                        <option value="{{ team.name }}">{{ team.name }}</option>
                    {% endfor %}
                </select>
                
                <div class="privacy-container">
                    <input type="checkbox" id="privacyCheck" required>
                    <label for="privacyCheck">
                        <p>I agree to the <a href="{% url 'privacy' %}" target="_blank">privacy policy</a></p>
                    </label>
                </div>

                <button type="submit" class="submit">Sign Up</button>
                {% if messages %}
                    {% for message in messages %}
                        <p class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <p class="login-text">Already have an account? 
                    <a class="login-link" href="{% url 'login-page' %}">Login</a>
                </p>

            
            </form>
        </div>
    </div>
    

</body>
</html>
