<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECOMON Signup</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/accounts/sign-up.css' %}">
</head>
<body>

    <div class="container">
        <img src="../../static/images/accounts/Ecomon1-removebg.png" alt="ECOMON Logo" class="logo">
        <div class="signup-box">
            <h2>Sign up</h2>
            <form>
                <input type="email" placeholder="Email address" required>
                <input type="password" placeholder="Password" required>
                <input type="password" placeholder="Confirm Password" required>
                <select name="team" required>
                    <option value="" disabled selected>Select your team</option>
                    {% for team in teams %}
                        <option value="{{ team.id }}">{{ team.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="submit">Sign up</button>
                <p class="login-text">Already have an account? <a class="login-link" href="login.html">Login</a></p>
            </form>
        </div>
    </div>
</body>
</html>
