body {
    font-family: Arial, sans-serif;
    background-color: #f7f5fa;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}


.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 35%;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}