<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <!-- leaflet css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

    <!-- leaflet js -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <link rel="stylesheet" href="{% static 'css/backend/home/homePage.css' %}">

    <!-- Embedding gym locations -->
    <script>
        var gyms = {{ gyms|safe }};
    </script>

    <!-- local js -->
    <script src="{% static 'js/backend/home/homePage.js' %}"></script>
    
    <title>Ecomon Home</title>
</head>
<body>
    <div id="map"></div>

    <!-- locate button -->
    <div id="locateButton-container">
        <a>
            <button class="button" id="locateButton"><img src="{% static 'images/backend/homePage/userLocationMarker.png' %}" alt="Center Position"></button>
        </a>
    </div>

    <!-- Bottom row buttons -->
    <div class="buttons-container">
        <!-- packs button -->
        <a href="/packs">
            <button class="button"><img src="{% static 'images/backend/homePage/packsIcon.PNG' %}" alt="Packs"></button>
        </a>
        <!-- scanner button -->
        <a href="/scanner">
            <button class="button"><img src="{% static 'images/backend/homePage/QRCodeIcon.png' %}" alt="Scanner"></button>
        </a>
        <!-- profile button -->
        <a href="/profile">
            <button class="button"><img src="{% static 'images/backend/homePage/profileIcon.png' %}" alt="Profile"></button>
        </a>
    </div>
</body>
</html>
