body {
    font-family: Arial, sans-serif;
    background-color: #f7f5fa;
    margin: 0;
    padding: 20px;
}

h2 {
    margin: 20px 0;
    font-size: 22px;
    color: #144E3F;
    text-align: center;
}

.backButton {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.backButton a {
    background-color: #84C44C;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.backButton a:hover {
    background-color: #144E3F;
    cursor: pointer;
}


.Deck {
    margin-bottom: 40px;
}

.deckTitle {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #144E3F;
}

.My.Deck table {
    margin: 0 auto;
    border-collapse: collapse;
}

.My.Deck td {
    padding: 10px;
}

.My.Deck img {
    width: 180px;
    height: auto;
}

.cards-selection {
    max-width: 1200px;
    margin: 0 auto;
}

.cardTable table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.cardTable tr {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.cardTable td {
    text-align: center;
    padding: 10px;
}

.card-select {
    display: inline-block;
    position: relative;
    cursor: pointer;
    perspective: 1000px;
}

.card-select img {
    width: 180px;
    height: auto;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.card-select input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}


.card-select input[type="checkbox"]:checked + img {
    transform: scale(1.15);
    box-shadow: 
        0 0 15px rgba(132, 196, 76, 0.8),
        0 0 30px rgba(132, 196, 76, 0.6),
        0 0 45px rgba(132, 196, 76, 0.4);
    z-index: 1;
}

.card-select:hover img {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(20, 78, 63, 0.3);
}

.card-select input[type="checkbox"]:checked + img:hover {
    transform: scale(1.15);
}


button[type="submit"] {
    display: block;
    width: 200px;
    padding: 12px 30px;
    margin: 20px auto;
    background-color: #84C44C;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #144E3F;
}

.back-button {
    color: white;
}

.use-count {
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    font-size: 16px;
    color: #144E3F;
}