{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <title>Gym Battle</title>
    <!-- JavaScript Variables Retrieved From Backend -->
    <script type="text/javascript">
        let activePlayerCard = JSON.parse('{{ player_deck_card1 | safe }}');
        let playerCardSlot1 = JSON.parse('{{ player_deck_card2 | safe }}');
        let playerCardSlot2 = JSON.parse('{{ player_deck_card3 | safe }}');
        let activeOpponentCard = JSON.parse('{{ gym_card1 | safe }}');
        let opponentCardSlot1 = JSON.parse('{{ gym_card2 | safe }}');
        let opponentCardSlot2 = JSON.parse('{{ gym_card3 | safe }}');
        let username = '{{ username }}';
        let opponent = '{{ gym_owning_player }}';
        let gymID = '{{ gym_id }}';
    </script>
    <!-- JavaScript Using the Variables -->
    <script src="{% static 'js/backend/battles/gymBattle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/backend/gymBattle.css' %}">
</head>

<body>
    <!-- Container for entire battle content -->
    <div class="battle-content">
        <!-- Container for the players bench -->
        <div class="player-slots-container">
            <img src="{% static 'images/backend/battles/EMButton1-Photoroom.png' %}" alt="ECOMON Logo" class="logo">
            <p>Slot 1</p>
            <img id="player-slot-1-icon" alt="Deck Card 2" class="slot-card">
            <p>Slot 2</p>
            <img id="player-slot-2-icon" alt="Deck Card 3" class="slot-card">
            <p>{{ username }}'s Bench</p>
        </div>

        <!-- Container for the players active card and stats -->
        <div class="gym-battle-player-active">
            <div class="gym-battle-text">
                <p>{{ username }}'s Active Card:
                    <span id="player-active-card-name" class="player-active-card-name"></span>
                    <span id="player-hp" class="player-active-card-hp"></span>
                </p>
            </div>
            <div class="gym-battle-card">
                <img id="player-active-card-icon" alt="Deck Card 1" class="active-card">
            </div>
        </div>

        <!-- Container for the versus logo and the battle log -->
        <div class="versus-container">
            <div class="battle-log-container">
                <p>Battle Log:</p>
                <div id="battle-log" class="battle-log" style="overflow-y: scroll; height: 200px;"">
                </div>
            </div>
            <img src="{% static 'images/backend/battles/versus.png' %}" alt="Verses Logo" class="vs-logo">
        </div>

        <!-- Container for the opponents active card and stats -->
        <div class="gym-battle-opponent-active">
            <div class="gym-battle-text">
                <p>{{ gym_owning_player }}'s Active Card:
                    <span id="opponent-active-card-name" class="opponent-active-card-name"></span>
                    <span id="opponent-hp" class="opponent-active-card-hp"></span>
                </p>
            </div>
            <div class="gym-battle-card">
                <img id="opponent-active-card-icon" alt="Deck Card 1" class="active-card">
            </div>
        </div>

        <!-- Container for the opponents bench -->
        <div class="opponent-slots-container">
            <p>Slot 1</p>
            <img id="opponent-slot-1-icon" alt="Deck Card 2" class="slot-card">
            <p>Slot 2</p>
            <img id="opponent-slot-2-icon" alt="Deck Card 3" class="slot-card">
            <p>{{ gym_owning_player }}'s Bench</p>
        </div>

         <!-- Container for the opponents bench -->
        <div class="action-buttons">
            <button id="player-move-1" class="action-button ability-1">
                <span id="ability-power-1" class="ability-power1"></span>
            </button>
            <button id="player-move-2" class="action-button ability-2">
                <span id="ability-power-2"class="ability-power2"></span>
            </button>
            <button id="player-retreat-1" class="action-button retreat-1"></button>
            <button id="player-retreat-2"class="action-button retreat-2"></button>
        </div>

    </div>

</body>

</html>