{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Gym Battle</title>
        <link rel="stylesheet" href="{% static 'css/backend/battles/viewGym.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script type="text/javascript">
            let gymLatitude = "{{ gym_latitude }}";
            let gymLongitude = "{{ gym_longitude }}";
            let gymID = "{{ gym_id }}";
            let gymTeam = "{{ gym_team }}";
            let playerTeam = "{{ owning_player_team }}";
        </script>
        <script src="{% static 'js/backend/battles/viewGym.js' %}"></script>
    </head>
    <body>
        <div class="gym-content">
            <div class="gym-images">
                <img src="{{ gym_team_icon }}" alt="Gym Team Owner Logo" class="gym-owner-logo">
                <img src="{% static 'images/backend/scanner/Ecomon1-removebg.png' %}" alt="ECOMON Logo" class="logo">
                <img src="{{ gym_team_icon }}" alt="Gym Team Owner Logo" class="gym-owner-logo">
            </div>

            <div class="gym-info">
                <span class="gym-desc">Gym Name: <a id ="gym-name-value" class="gym-value">{{ gym_name }}</a></span>
                <span class="gym-desc">Owning Team: <a id ="gym-player-value" class="gym-value">{{ gym_team }}</a></span>
                <span class="gym-desc">Owning Player: <a id ="gym-team-value" class="gym-value">{{ gym_owning_player }}</a></span>
                <span class="gym-desc">Gym Fact: <a id ="gym-fact" class="gym-value">{{ gym_fact }}</a></span>
                <span class="gym-desc">Cooldown: <a id="gym-cooldown-value" class="gym-value" data-cooldown="{{ gym_cooldown }}"></a></span>
            </div>

            <hr class="line">

            <div class="player-deck">
                <a class="deck-title">Your Current Deck Loadout:</a>
                <div class="deck-cards">
                    {% if player_deck_card1 %}
                        <img src="{{ player_deck_card1 }}" alt="Deck Card 1" class="deck-card">
                    {% else %}
                        <p class="empty-deck">Deck Slot 1 Is Empty</p>
                    {% endif %}
                
                    {% if player_deck_card2 %}
                        <img src="{{ player_deck_card2 }}" alt="Deck Card 2" class="deck-card">
                    {% else %}
                        <p class="empty-deck">Deck Slot 2 Is Empty</p>
                    {% endif %}
                
                    {% if player_deck_card3 %}
                        <img src="{{ player_deck_card3 }}" alt="Deck Card 3" class="deck-card">
                    {% else %}
                        <p class="empty-deck">Deck Slot 3 Is Empty</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="buttons-section">
            <a href="/home" class="button back-button">
                <i class="fas fa-arrow-left"></i>
            </a>
            {% if player_deck_card1 and player_deck_card2 and player_deck_card3 %}
                <button id="start-battle" class="button">Start Battle</button>
                <button id="edit-deck" class="button" onclick="window.location.href='/change_deck'">Edit Deck</button>
            {% else %}
                <button class="button" onclick="alert('You need a full deck to begin a battle! \nClick on the Edit Deck button to choose your deck!')">Start Battle</button>
                <button id="edit-deck" class="button" onclick="window.location.href='/change_deck'">Edit Deck</button>
            {% endif %}
        </div>
    </body>
</html>