<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/packs/nopacks.css' %}">
    <title>Card Pack Displays</title>
</head>
<body>
    <button class="circle-button">
        <div class="inner-circle">
            ←
        </div>
    </button>

    <div class="empty-alert">
        Go back to the map to find gyms to conquer 
        and get MORE PACKS!!
    </div>

    <div class="empty-pack">
        <p class="pack-title">You have no packs </p>
        <p class="pack-fact">Trash fact: <br> This fact is trash</p>
    </div>

</body>
</html>