<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Packet Display</title>
    <link rel="stylesheet" href="packobject.css">
</head>
<body>
    <button class="circle-button">
        <div class="inner-circle">
            ←
        </div>
        
    </button>

    <div class="card-pack" id="pack-left">
        <p class="pack-title">Name of Pack</p>
        <img src="Ecomon1-removebg.png" class="pack-image">
        <p class="pack-fact">Trash fact: <br> This fact is trash</p>
    </div>

    <div class="card-pack" id="pack-center">
        <p class="pack-title">Name of Pack</p>
        <img src="Ecomon1-removebg.png" class="pack-image">
        <p class="pack-fact">Trash fact: <br> This fact is trash</p>
    </div>

    <div class="card-pack" id="pack-right">
        <p class="pack-title">Name of Pack</p>
        <img src="Ecomon1-removebg.png" class="pack-image">
        <p class="pack-fact">Trash fact: <br> This fact is trash</p>
    </div>


</body>
</html>